@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto|Spirax|Dosis');

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image:
    linear-gradient(
      #adad85,
      #e1e1d0);
  background-repeat: no-repeat;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;
}

header {
  background-color: #26734d;
  background-image:
    linear-gradient(
      #993366,
      #73264d);
  border-bottom: 0.1em solid #fff;
  color: #ccccb3;
  flex: 2;
  font-family: 'Roboto', sans-serif;
  padding-top: 1.5em;
}

.main-heading-link {
  color: white;
  display: inline;
  font-family: 'Spirax', cursive;
  font-size: 6.0em;
  text-decoration: none;
}

.main-heading-link:hover {
  color: #ccc;
}

.main-heading-link-ext {
  color: #ccccb3;
  display: inline;
  font-size: 1.3em;
}

.tagline {
  font-size: 1.8em;
}

h1.welcome-user {
  margin: 0;
  padding-bottom: 1em;
  padding-top: 1em;
}

h1.login-message {
  color: #73264d;
  margin: 0;
  padding-bottom: 1em;
  padding-top: 1em;
}

.main-content {
  color: #73264d;
  flex: 4;
}

footer {
  background: linear-gradient(#005266, #007a99);
  border-top: 0.1em solid #fff;
  color: #e1e1d0;
  flex: 1;
  font-family: sans-serif;
  font-size: 0.85em;
  width: 100vw;
}

.bloop-footer-list {
  line-height: 1.6em;
  list-style: none;
}

.login-container {
  flex: 3;
  margin-top: 1vw;
}

.login-form {
  background-color: #fff;
  border: 0.15em solid #73264d;
  border-radius: 1em;
  display: inline-table;
  height: 15vw;
  width: 24vw;
}

.input-row {
  color: #73264d;
  margin: 1em;
}

.login-btn {
  background: #73264d;
  border-radius: 5px;
  border: #73264d;
  color: white;
  height: 3em;
  margin-top: 3vw;
  width: 7em;
}

.messages-to-user {
  color: red;
  font-family: sans-serif;
  font-size: 0.8em;
}

.help-center {
  display: flex;
  margin: 0 auto;
  padding: 1.3em;
  width: 24vw;
}

.sign-up {
  color: #73264d;
  flex: 1;
  font-size: 0.8em;
  margin: 0 auto;
}

.get-help {
  color: #73264d;
  flex: 1;
  font-size: 0.8em;
  margin: 0 auto;
}

.help-modal {
  background-color: white;
  border-color: #73264d;
  border-radius: 5px;
  visibility: hidden;
  max-height: 600px;
  max-width: 500px;
  overflow: auto;
  position: fixed;
    top: 10%;
    left: 50%;
  transform: translate(-50%, 10%);
  z-index: 100;
}

.modal-open {
  visibility: visible;
}

.modal-back {
  background-color: gray;
  height: 100vh;
  width: 100vw;
  position: fixed;
  visibility: hidden;
  z-index: 90;
}

.x-btn {
  background-color: gray;
  float: right;
}

.close-btn {
  background-color: #73264d;
  color: white;
}

.close-btn:hover,
.close-btn:focus {
  background-color: black;
  cursor: pointer;
  text-decoration: none;
}

a {
  color: #e1e1d0;
  text-decoration: none;
}

a:hover {
  color: #005266;
}

@media (max-width: 320px)  {
  .main-heading-link {
    font-size: 1.5em;
    text-decoration: none;
  }

  .tagline {
    font-size: 1.2em;
  }

  footer {
    font-size: 0.5em;
  }

  .bloop-footer-list {
    line-height: 1.2em;
    list-style: none;
  }
}
