@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto|Spirax');

#flexContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image:
    linear-gradient(
      #adad85,
      #e1e1d0);
  background-repeat: no-repeat;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;
}

header {
  background-color: #26734d;
  background-image:
    linear-gradient(
      #993366,
      #73264d);
  border-bottom: 0.1em solid #fff;
  color: #ccccb3;
  flex: 2;
  font-family: 'Roboto', sans-serif;
  padding-top: 2em;
}

#mainHeadingLink {
  color: #ccccb3;
  font-family: 'Spirax', cursive;
  font-size: 2.5em;
  text-decoration: none;
}

#mainHeadingLink:hover {
  color: #ccc;
}

#tagline {
  font-size: 1.8em;
}

h1.welcome-user {
  margin: 0;
  padding-bottom: 1em;
  padding-top: 1em;
}

h1#loginMessage {
  color: #73264d;
  margin: 0;
  padding-bottom: 1em;
  padding-top: 1em;
}


#mainContent {
  flex: 4;
}

footer {
  background: linear-gradient(#005266, #007a99);
  border-top: 0.1em solid #fff;
  color: #e1e1d0;
  display: flex;
  flex: 1;
  font-family: sans-serif;
  font-size: 0.85em;
  width: 100vw;
}

#bloopFooterList {
  line-height: 1.6em;
  text-align: left;
}

#loginContainer {
  margin: 0 auto;
  width: 260px;
}

.login-form {
  background-color: #fff;
  border: 0.15em solid #73264d;
  border-radius: 1em;
  display: inline-table;
  margin: 2em auto 1em auto;
}

.input-row {
  color: #73264d;
  margin: 1em;
}

#loginBtn {
  background: #73264d;
  border-radius: 5px;
  border: #73264d;
  color: white;
  height: 2em;
  margin: 20px;
  width: 5em;
}

.help-center {
  display: flex;
  margin: 0 auto;
  padding: 1.3em;
}

#signUp {
  color: #73264d;
  flex: 1;
  font-size: 0.8em;
  text-align: left;
}

#getHelp {
  color: #73264d;
  flex: 1;
  font-size: 0.8em;
  text-align: left;
}

a:link {
  color: #e1e1d0;
}

a:hover {
  color: #ccc;
}
