@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto|Spirax');

#flexContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image:
    linear-gradient(
      #d9b38c,
      #d9f2e5);
  background-repeat: no-repeat;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;
}

header {
  background-color: #26734d;
  background-image:
    linear-gradient(
      #27724e,
      #349868);
  border-bottom: 0.1em solid #fff;
  color: #d9f2e6;
  flex: 2;
  font-family: 'Roboto', sans-serif;
  padding-top: 2em;
}

#mainHeadingLink {
  color: #d9f2e6;
  font-family: 'Spirax', cursive;
  font-size: 2.7em;
  text-decoration: none;
}

#mainHeadingLink:hover {
  color: #ccc;
}

#tagline {
  font-size: 2em;
}

h1.welcome-user {
  margin: 0;
  padding-bottom: 1em;
  padding-top: 1em;
}

h1#loginMessage {
  color: #26734d;
  margin: 0;
  padding-bottom: 1em;
  padding-top: 1em;
}


#mainContent {
  flex: 4;
}

footer {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#footerWhiteSpaceLeft {
  flex: 5;
  order: 1;
}

#bloopFooterList {
  flex: 1;
  color: #26734d;
  order: 2;
  text-align: left;
}

.login-form {
  background-color: #fff;
  border: 0.2em solid #26734d;
  border-radius: 1em;
  display: inline-table;
  margin: 2em auto 1em auto;
}

.input-row {
  color: #26734d;
  margin: 1em;
}

#loginBtn {
  background: #26734d;
  border-radius: 5px;
  border: #fff;
  color: white;
  height: 2em;
  margin: 20px;
  width: 5em;
}

.help-center {
  display: flex;
  margin: 0 auto;
  width: 200px;
}

#signUp {
  color: #26734d;
  flex: 1;
  font-size: 0.8em;
  text-align: left;
}

#getHelp {
  color: #26734d;
  flex: 1;
  font-size: 0.8em;
  text-align: right;
}

a:link {
  color: #26734d;
}
