@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto|Spirax');

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image:
    linear-gradient(
      #adad85,
      #e1e1d0);
  background-repeat: no-repeat;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;
}

header {
  background-color: #26734d;
  background-image:
    linear-gradient(
      #993366,
      #73264d);
  border-bottom: 0.1em solid #fff;
  color: #ccccb3;
  flex: 2;
  font-family: 'Roboto', sans-serif;
  padding-top: 1.5em;
}

.main-heading-link {
  color: #ccccb3;
  font-family: 'Spirax', cursive;
  font-size: 2.5em;
  text-decoration: none;
}

.main-heading-link:hover {
  color: #ccc;
}

.tagline {
  font-size: 1.8em;
}

h1.welcome-user {
  margin: 0;
  padding-bottom: 1em;
  padding-top: 1em;
}

h1.login-message {
  color: #73264d;
  margin: 0;
  padding-bottom: 1em;
  padding-top: 1em;
}

.main-content {
  color: #73264d;
  flex: 4;
}

footer {
  background: linear-gradient(#005266, #007a99);
  border-top: 0.1em solid #fff;
  color: #e1e1d0;
  flex: 1;
  font-family: sans-serif;
  font-size: 0.85em;
  width: 100vw;
}

.bloop-footer-list {
  line-height: 1.6em;
  list-style: none;
}

.login-container {
  margin: 0 auto;
  width: 260px;
}

.login-form {
  background-color: #fff;
  border: 0.15em solid #73264d;
  border-radius: 1em;
  display: inline-table;
  margin: 2em auto 1em auto;
}

.input-row {
  color: #73264d;
  margin: 1em;
}

#loginBtn {
  background: #73264d;
  border-radius: 5px;
  border: #73264d;
  color: white;
  height: 2em;
  margin: 20px;
  width: 5em;
}

.help-center {
  display: flex;
  margin: 0 auto;
  padding: 1.3em;
}

.sign-up {
  color: #73264d;
  flex: 1;
  font-size: 0.8em;
  text-align: left;
}

.get-help {
  color: #73264d;
  flex: 1;
  font-size: 0.8em;
  text-align: center;
}

a {
  color: #e1e1d0;
}

a:hover {
  color: #ccc;
}

@media (max-width: 320px)  {
  .main-heading-link {
    font-size: 1.5em;
    text-decoration: none;
  }

  .tagline {
    font-size: 1.2em;
  }

  footer {
    font-size: 0.5em;
  }

  .bloop-footer-list {
    line-height: 1.2em;
    list-style: none;
  }
}
